.psp-status-printed {
    color: #fff;
    background-color: #1a851e;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 10px;
    display: inline-block;
    margin-bottom: 2px;
}

.psp-packaging-sticker-print * {
    box-sizing: border-box;
}